
<div id="footer">
	<div id="footnote">
		<a href="@Url.Action("index","Home")" class="logo2"></a> <span>&#169; Copyright CSS <br /> &#169; 2013. All rights reserved</span>
	</div>
	<div class="navigation">
		<div class="primary">
			<h3>Links</h3>
			<ul>
				<li>
					<a href="http://cornerhigh.jefcoed.com/Pages/Default.aspx">Corner High School</a>
				</li>
				<li>
					<a href="http://www.bassmaster.com/high-school">B.A.S.S. High School</a>
				</li>
				<li>
					<a href="http://www.jefcoed.com/Pages/Default.aspx">JEFCOED</a>
				</li>
				<li>
					<a href="http://www.cornerjackets.com/">Corner Community Park</a>
				</li>
			</ul>
		</div>
		<div id="connect">
			<h3>Visit us on Facebook</h3>
			<ul>
				<li>
					<a href="https://www.facebook.com/CornerHighSchoolFishingTeam?ref=br_tf" target="_blank" class="fb" title="Facebook"></a>
				</li>

			</ul>
		</div>
	</div>
</div> 