
<ul id="nav">
	<li><a href="@Url.Action("index", "Home")">Home</a></li>
	<li><a href="#">Events</a></li>
	<li><a href="#">Sponsors</a></li>
	<li><a href="#">Locations</a>
		<ul>
			<li><a href="http://www.smithlake.info/">Smith Lake</a></li>
			<li><a href="http://www.lakeguntersville.info/">Lake Guntersville</a></li>
			<li><a href="http://www.lakemitchell.info/">Mitchell Lake</a></li>
            <li><a href="http://warrior.uslakes.info/">Warrior Lake</a></li>			
            <li><a href="http://www.laylake.info/">Lay Lake</a></li>								
		</ul>
	</li>	
</ul>