@{
	ViewBag.Title = "_standings";
	Layout = "~/Views/Shared/_default.cshtml";
}


<h2>Current Standings</h2>
<div>
	<div class="section">
		<b>After Mitchell event - 7/13/2013</b>

			
		<table class="standings">
			<thead>
				<tr>
					<th>Team</th>
					<th>Smith<br />5/25/13</th>
					<th>Guntersville<br />6/15/13</th>
					<th>Mitchell<br />7/13/13</th>
					<th>Guntersville<br />8/3/13</th>
					<th>Warrior<br />9/14/13</th>
					<th>Lay<br />10/12/13</th>
					<th>Sponsor<br />pts.</th>
					<th>Total<br />Points</th>
				</tr>
			</thead>
			<tr>
				<td>Averhart/Rodgers</td>
				<td>110</td>
				<td>50</td>
				<td>90</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>250</td>
			</tr>
			<tr>
				<td>Bainbridge/Jennings</td>
				<td>10</td>
				<td>70</td>
				<td>0</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>80</td>
			</tr>
			<tr>
				<td>Boshell/Savage</td>
				<td>80</td>
				<td>120</td>
				<td>10</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>210</td>
			</tr>
		</table>

	</div>
</div>