@{
    ViewBag.Title = "NewsItems";
    Layout = "~/Views/Shared/_default.cshtml";
}

<div id="contents">
			<h2>Blog</h2>
			<div id="blog">
				<div class="sidebar">
					<h5>Recent Post</h5>
					<ul>
						<li>
							<a href="blog.html">Cras tempor turpis</a>
						</li>
						<li>
							<a href="blog.html">Mattis tempor</a>
						</li>
						<li>
							<a href="blog.html">Lectus tincidunt</a>
						</li>
						<li>
							<a href="blog.html">Pharetra metus</a>
						</li>
						<li>
							<a href="blog.html">Donec vitae vehicula</a>
						</li>
					</ul>
					<h5>Archive</h5>
					<ul>
						<li>
							<a href="blog.html">Cras tempor turpis</a>
						</li>
						<li>
							<a href="blog.html">Mattis tempor</a>
						</li>
						<li>
							<a href="blog.html">Lectus tincidunt</a>
						</li>
						<li>
							<a href="blog.html">Pharetra metus</a>
						</li>
						<li>
							<a href="blog.html">Donec vitae vehicula</a>
						</li>
					</ul>
				</div>
				<div class="section">
					<b>This is just a place holder, so you can see what the site would look like.</b>
					<p>
						This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. If you're having problems editing this website template, then don't hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forums/">Forumss</a>.
					</p>
					<p>
						Cras tincidunt tortor vel arcu pharetra et molestie enim vehicula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer non nulla nec nunc interdum imperdiet non vitae dui. Aliquam vulputate augue in odio egestas tincidunt. Integer eget tortor ligula. Vestibulum dictum scelerisque justo nec cursus. Donec euismod placerat lligula, vitae faucibus enim adipiscing sed. Nullam nec magna diam, id cursus justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Phasellus sagittis eros quam, in tincidunt nisl. Nullam porta, tellus venenatis sodales semper, arcu massa lobortis orci, eu lobortis massa lectus id magna. Nullam sodales ipsum in massa consectetur sollicitudin in ac lorem. Sed vel enim arcu.
					</p>
					<p>
						Looking for more templates? Just browse through all our <a href="http://www.freewebsitetemplates.com/">Free Website	Templates</a> and find what you&acute;re looking for. But if you don&acute;t find any website template you can use, you can try our <a href="http://www.freewebsitetemplates.com/freewebdesign/">Free Web Design</a> service and tell us all about it. Maybe you&acute;re looking for something different, something special. And we love the challenge of doing something	different and something special.
					</p>
				</div>
			</div>
		</div>
